.about {
    width: 100%;
    height: 100vh;
    /* background: #161922; */
    /* background-color: #edd812;
  background-image: linear-gradient(315deg, #edd812 0%, #766a65 74%); */
  /* background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .content img {
    height: auto;
    width: 500px;
    max-width: 100%;
  }
  .text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
  }
  .content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .text h1 {
    color: white;
    font-size: 75px;
    text-shadow: 1px 2px 5px #eab12f;
    margin-bottom: 5px;
    text-transform: capitalize;
    text-align: left;
  }
  .text h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .text p {
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
  }
  .abt  {
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid transparent;
    color: black;
  }
  button:hover {
    transform: scale(1.08);
    background-color: transparent;
    border: 2px solid #eab12f;
    transition: 0.4s;
    cursor: pointer;
    color: #eab12f;
    box-shadow: 0.1px 0.02px 10px #eab12f;
  }
  @media screen and (max-width: 1180px) {
    .about {
      width: 100%;
      height: auto;
      padding: 70px 0px;
      text-align: center;
    }
    .text h1{
      text-align: center;
    }
  }
  @media screen and (max-width: 650px) {
    .about .content img {
      width: 300px;
      margin-bottom: 20px;
    }
    .text h1 {
      font-size: 50px;
      margin-bottom: 18px;
      text-align: center;
    }
  }